@font-face {
  font-family: droid_serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/droidserif-regular.woff2') format('woff2');
}
@font-face {
  font-family: fira_sans;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/firasans-regular.woff2') format('woff2');
}
@font-face {
  font-family: fira_sans;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/firasans-bold.woff2') format('woff2');
}
