{% extends "base.html" %}

{% block extra_head %}
  <style type="text/css">
    .content {
      max-width: 85ch;
      margin: 0 auto;
      --pico-block-spacing-vertical: var(--pico-spacing);
    }
    .content a {
      padding-left: 0;
      padding-top: 0;
    }
    .content a::after {
      content: "";
    }
    .content details ul {
      margin-left: 1rem;
    }
    .content > * + * {
      margin-block-start: 2rem;
    }
    .content p:has(img) {
      text-align: center;
    }
    .content img {
      margin: 1rem;
      border: 2px solid black;
      padding: 2px;
    }
    .content .admonition {
      padding: 1rem;
      border: 2px solid lightskyblue;
    }
  </style>
{% endblock extra_head %}

{% block content %}
  <div class="content">
    <aside>
      <details {% if not blogpost %}open{% endif %}>
        <summary role="button">Quick access</summary>
        <nav>
          <ul>
            {% for blogpost in blogposts %}
              <li><a href="{{ base_url }}{{ blogpost.url }}">{{ blogpost.title }} ({{ blogpost.short_date }})</a></li>
            {% endfor %}
          </ul>
        </nav>
      </details>
    </aside>
    {% for bp in blogposts %}
      {% if not blogpost or (blogpost and blogpost == bp) %}
        <article>
          <header>
            <hgroup>
              <h2>
                <a href="{{ base_url }}{{ bp.url }}">{{ bp.title }}</a>
              </h2>
              <p>{{ bp.short_date }}</p>
            </hgroup>
          </header>
          <div>{{ bp.html }}</div>
          <footer>
            <a href="{{ bp.source }}">Source</a>
            {% if bp.license %}
              — <a href="{{ bp.license }}">License</a>
            {% endif %}
          </footer>
        </article>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
