{% extends "base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ base_url }}static/home.css">
{% endblock extra_head %}

{% block content %}
  <div class="content">
    <article class="hero">
      <h1>Creating a map has never been simpler</h1>
      <p>uMap lets you quickly build custom maps with OpenStreetMap’s background layers and integrate them on your own website.</p>
      <div class="buttons">
        <button onclick="this.closest('article').querySelector('dialog').showModal()">🗺️ Create a map</button>
        <a href="https://github.com/umap-project/umap/" role="button" class="secondary">Show me the code</a>
      </div>
      <dialog role="dialog" aria-modal="true" aria-labelledby="dialog_label">
        <article>
          <header>
            <button rel="prev" aria-label="Close" class="close" onclick="this.closest('dialog').close()"></button>
            <h1 id="dialog_label">Choose an instance</h1>
          </header>
          <p>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Feather Icons/fi:map-pin" clip-path="url(#clip0_1113_61)">
                <path id="Vector" d="M17.5014 8.33402C17.5014 14.1678 10.0008 19.1683 10.0008 19.1683C10.0008 19.1683 2.50012 14.1678 2.50012 8.33402C2.50012 6.34472 3.29037 4.4369 4.69701 3.03026C6.10365 1.62362 8.01147 0.833374 10.0008 0.833374C11.9901 0.833374 13.8979 1.62362 15.3045 3.03026C16.7112 4.4369 17.5014 6.34472 17.5014 8.33402Z" stroke="#263B58" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round"/>
                <path id="Vector_2" d="M10.0009 10.8347C11.3819 10.8347 12.5014 9.7152 12.5014 8.33421C12.5014 6.95322 11.3819 5.83371 10.0009 5.83371C8.61988 5.83371 7.50037 6.95322 7.50037 8.33421C7.50037 9.7152 8.61988 10.8347 10.0009 10.8347Z" stroke="#263B58" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1113_61">
                  <rect width="20.0017" height="20.0017" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            Create a map:
          </p>
          <ul>
            <li><a href="https://umap.openstreetmap.de/map/new/" autofocus>on uMap DE</a> <small>OpenStreetMap Germany server</small></li>
            <li><a href="https://umap.osm.ch/map/new/">on uMap CH</a> <small>OpenStreetMap Switzerland server</small></li>
            <li><a href="https://umap.openstreetmap.fr/map/new/">on uMap FR</a> <small>OpenStreetMap France server</small></li>
          </ul>
          <footer>
            <button onclick="this.closest('dialog').close()">Close this window</button>
          </footer>
        </article>
      </dialog>
    </article>
  </div>
  <div class="content">
    <article class="testimonies">
      <aside>
        <ul>
          <li><users-count>150,000+</users-count> <span>user accounts</span></li>
          <li><maps-count>1,300,000+</maps-count> <span>maps created</span></li>
          <li><maps-active-count>5,000+</maps-active-count> <span>edited maps per week</span></li>
        </ul>
      </aside>
      <div>
        <h2>What people are saying</h2>
        <div class="grid">
          <blockquote>
            <p>“A tool to put between all hands, full-featured, you can smoothly go into advanced mode. A wonderful tool.”</p>
          </blockquote>
          <blockquote>
            <p>“In fine, uMap is really easy to get started with, reactive and doesn’t require any account. It allows interesting collaborative work with students.”</p>
          </blockquote>
        </div>
        <div class="grid">
          <blockquote>
            <p>“Thank you for creating this tool! It’s really useful to me and super simple to use :)”</p>
          </blockquote>
          <blockquote>
            <p>“With uMap, no need to code, you create your interactive map thanks to a graphical interface.”</p>
          </blockquote>
        </div>
      </div>
    </article>
  </div>
  <div class="content">
    <article class="philosophy">
      <div>
        <h2 class="smaller">uMap is a free (as in speech <em>and</em> beer) software project maintained by a community of contributors</h2>
        <ul>
          <li>Free and open-source since day one</li>
          <li><a href="https://peertube.openstreetmap.fr/w/wfi9b4BE1ztiNM5GUAbqRc">10 years</a> (fr) of products improvements</li>
          <li><a href="https://github.com/umap-project/umap/graphs/contributors">58 contributors</a> to the codebase</li>
          <li>More than <a href="https://github.com/umap-project/umap/issues">1,400 issues</a> already discussed</li>
          <li>An up-to-date <a href="https://hub.docker.com/r/umap/umap">Docker image</a></li>
          <li>A very active <a href="https://forum.openstreetmap.fr/c/utiliser/umap/29">community</a> (fr)</li>
          <li>A philosophy towards long-term and minimalist code</li>
        </ul>
        <div class="buttons">
          <a href="https://github.com/umap-project/umap/" role="button">Show me the code</a>
          <a href="https://docs.umap-project.org" role="button" class="secondary">Read the technical documentation</a>
        </div>
      </div>
      <aside>
        <ul>
          <li>
            <span class="title">Latest release</span>
            <span class="data">
              <last-release>2.9.0b0 - 2025-01-31</last-release>
            </span>
            <a href="https://github.com/umap-project/umap/releases">Full changelog</a>
          </li>
          <li>
            <span class="title">Latest commit</span>
            <span class="data">
              <last-commit>2025-02-27</last-commit>
            </span>
            <a href="https://github.com/umap-project/umap/commits/master">Commits’ history</a>
          </li>
          <li>
            <span class="title">GitHub’s stars</span>
            <span class="data">
              <stargazers-count>1200+</stargazers-count> ⭐️
            </span>
            <a href="https://github.com/umap-project/umap/">Add yours ✨</a>
          </li>
        </ul>
      </aside>
    </article>
  </div>
  <div class="content">
    <article class="usecases">
      <h2>A diversity of use-cases</h2>
      <div class="grid">
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-lignes-polygones-panneaux-solaires.jpg" alt="Example of uMap map with shape drew on building.">
            <figcaption>Draw <strong>lines</strong> and <strong>polygons</strong>. A simple feature to find roofs with potential solar panels sites.</figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-reseaux-transports.jpg" alt="Example of uMap map with transportation lines made visible.">
            <figcaption>Import <strong>information layers</strong>. Above, the public transportation network for a city.</figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-plan-prevention-risques.jpg" alt="Example of uMap map showing the impact of a flooding.">
            <figcaption>Importing data and <strong>drawing on top of a tile layer</strong> to make more understandable a flooding hazards plan.</figcaption>
          </figure>
        </div>
      </div>
      <div class="grid">
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-heatmap-densite-brasseries.jpg" alt="Example of uMap map showing pubs density.">
            <figcaption>A <strong>“heatmap”</strong> makes it easy to represent densities, in the example above: pubs for a given neighborhood.</figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-clusters.jpg" alt="Example of uMap map showing clusters of aggregated points.">
            <figcaption>Too many information to display? The <strong>“cluster” feature</strong> allows you to display them step by step when zooming in.</figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-diaporama.jpg" alt="Example of uMap map showing a slideshow feature.">
            <figcaption><strong>Tell a story</strong> by inserting photos, texts, sounds, videos and display them in a specific order using <strong>“slideshow” feature</strong>.</figcaption>
          </figure>
        </div>
      </div>
    </article>
  </div>
  <div class="content">
    <article id="donate" class="donate">
      <h2>Support uMap’s development</h2>
      <p>uMap is a free and open-source tool supported by a community of users, developers and sponsors.</p>
      <p class="buttons">
        <a href="https://opencollective.com/umap" role="button">Give via OpenCollective</a>
        <a href="https://liberapay.com/uMap" role="button">Give via LiberaPay</a>
      </p>
      <p class="solo-button">
        Want to get involved in some other way?
        <a href="mailto:contact%40umap-project.org" role="button" class="secondary"
          >Contact us!</a>
      </p>
    </article>
  </div>
  <div class="content">
    <article class="bakers">
      <h2>uMap’s sponsors</h2>
      <div class="grid">
        <a href="https://www.openstreetmap.fr/">
          <img src="{{ base_url }}static/partners/logo_osm.png" alt="Logo OSM">
        </a>
        <a href="https://agence-cohesion-territoires.gouv.fr/">
          <img src="{{ base_url }}static/partners/logo_anct.svg" alt="Logo ANCT">
        </a>
        <a href="https://citoyens.transformation.gouv.fr/">
          <img src="{{ base_url }}static/partners/logo_aic.png" alt="Logo AIC">
        </a>
        <a href="https://nlnet.nl/">
          <img src="{{ base_url }}static/partners/logo_nlnet.svg" alt="Logo NLnet">
        </a>
        <a href="http://scopyleft.fr/">
          <img src="{{ base_url }}static/partners/logo_scopyleft.svg" alt="Logo Scopyleft" width="100px">
        </a>
      </div>
    </article>
  </div>
{% endblock content %}

{% block extra_body %}
  <script src="{{ base_url }}static/web-components.js"></script>
{% endblock extra_body %}
