{% extends "base.html" %}

{% block extra_head %}
  <meta http-equiv="refresh" content="0;url={{ redirect_to }}"/>
  <link rel="canonical" href="{{ redirect_to }}"/>
{% endblock extra_head %}

{% block content %}
  <div class="content">
    <h1>Redirection vers {{ redirect_to }}</h1>
    <p>Cette page a été déplacée.</p>
    <p>Redirection immédiate vers <a href="{{ redirect_to }}">{{ redirect_to }}</a>.</p>
  </div>
{% endblock content %}
